html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*{
    margin:0;
    padding:0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans.ttf);
}
html {height: 100%;}
body{
    height: 100%;
    background:#fff;
    font:normal 12px "Open Sans", sans-serif;
    color:#333;
}
a, a:hover, a.active{text-decoration:none;}
ol, ul{list-style: none;}
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after {clear:both;}

#wrapper{
    padding:0 30px;
    color:#323232;
    max-width:1084px;
    margin: 0 auto;
}
#wrapper h1{
    font-size:40px;
    line-height:20pt;
    text-transform: uppercase;
    margin:45px 0 25px 17px;
}
    .img{
        float:left;
        text-align: center;
        overflow: hidden;
        max-width:100%;
        width:652px;
        max-height:418px;
        border: 1px solid #e6e6e6;
        margin:0 30px 30px 20px;
    }
    .img img{
        max-width: 100%;
        height: auto;
    }
    .form{
        font-size:15px;
        font-weight:bold;
        text-transform:capitalize;
        color:#4b4b4b;
        max-width: 323px;
        float:right;
    }
        .form p{
            display: inline-block;
        }
    /*.block{
        line-height: 43px;
        height: 43px;
    }*/
.table, .addtocard{border-bottom: 1px solid #e6e6e6;}
    .table{display:table;width: 100%;font-size:15px;color:#4b4b4b;}
        .row{display:table-row;}
        .cell{display:table-cell;padding-right: 19px;
            padding-bottom: 30px;}
            .cell:nth-child(2n){text-align:right;padding-right:0;}
    .cell input{display:none;}
    .cell label{
        width:42px;height:42px;
        margin-right:12px;
        vertical-align: middle;
        cursor:pointer;
        outline: none;
        display:inline-block;
    }
        .cell label:first-child{background-color:#fbfbfb;}
        .cell label:nth-child(2){background-color:#add4eb;}
        .cell label:nth-child(3){background-color:#bbafd9;}
        .cell label:nth-child(4){background-color:#ebadc3;}
        .cell label:last-child{margin:0;}
    .color-active{
        border:2px solid #d2d2d2;
    }

    .select{
        display: inline-block;
        /*overflow:hidden;
        border: 1px solid #CCC;
        height: 34px;*/
        background: url(img/dropdown.png) no-repeat 93% center;
    }
    .select select{
        cursor:pointer;
        text-transform:uppercase;
        border-radius: 0;
        background: transparent;
        -webkit-appearance: none;
        line-height:1;
        width:216px;
        height:40px;
        color:#646464;
        font-size:15px;
        font-weight:normal;
        padding:9px 0 12px 13px;
        border:1px solid #969696;
        /*      for FF      */
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        /* for IE */
        -ms-appearance: none;
        appearance: none!important;
    }
    .select select::-ms-expand {
        display: none;
    }
    .addtocard{
        color:#4c4c4c;
        font-size:14px;
        text-transform:uppercase;
        padding:28px 0 0 0;
        line-height: 1;
        margin-bottom:30px;

    }
    .addtocard p:first-child{display:block;    margin-bottom: 16px;}
    .addtocard p:nth-child(2){margin-right: 28px;}
    .addtocard input{
        display: block;
        width: 100%;
        max-width:242px;
        text-align:center;
        padding:17px 0;
        border:2px solid #000;
        background:transparent;
        margin: 28px 0 30px 0;
        cursor:pointer;
        text-transform:uppercase;
        font-weight: bold;
    }
    .addtocard span{color:#f3546a;}
    .old-price{
        color:#c8c8c8;
        font-size:42px;
        text-decoration:line-through;
    }
    .new-price{
        color:#f3546a;
        font-size:42px;
    }
    .price{
        font-size:42px;
        color:#272727;
    }
   .share{
       text-transform: uppercase;

       max-width: 296px;
       width: 100%;
   }
   .share p{
       display: inline;
       font-weight:bold;
       font-size:14px;
   }
   .share a{width:auto;}
   .share img{
       vertical-align:middle;
        margin:0 0 0 14px;
   }

    .txt{
        color:#1a1a1a;
        max-width:514px;
        margin-left:20px;
        margin-bottom:60px;
    }
    .txt h2{
        font-size:21px!important;
        font-weight:bold;
        text-transform: capitalize;
    }
    .txt h3{
        font-size:18px;
        text-transform: uppercase;
        font-weight:normal;
        margin-bottom:30px;
    }
    .txt p, .txt ul{
        font-size:15px;
        text-transform: initial;
    }
        .txt ul{
            list-style: disc;
            margin: 23px 0 0 17px;
        }
        .txt .more{
            font-size:12px;
            text-transform: uppercase;
            width: 100px;
            font-weight:bold;
            color:#191919;
            border-top:2px solid #191919;
            margin:28px 0 0 0;
            padding:10px 0 0 0;
            display:none;
        }
    .image{
        max-height: 230px;
        margin-left: 20px;
        margin-bottom: 130px;
        width: 100%;
    }
    .image img{
        max-width:300px;
        max-height:230px;
        height:auto;
        width: 100%;
    }
        .image-img img:first-child{float:left;}
        .image-img img:last-child{float:right;}
        .image-img:nth-child(2){margin: 0 5%;}
    .img-hover{
        max-width:300px;
        max-height:230px;
        background-color: #000;
    }
    .image-img{
        max-width: 300px;
        max-height: 230px;
        height: auto;
        width: 30%;
        float: left;
        position: relative;
        margin-bottom:130px;
    }
    .hidden{
        /* z-index: 2; */
        background-color: rgba(0, 0, 0, 0.45);
        position: relative;
        width: inherit;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        visibility: hidden;
        text-transform:uppercase;
        text-align:center;
        font-weight:bold;
    }
    .hidden p{
        font-size:24px;
        color:#fff;
        margin: 22% auto 10% auto;
        width:70%;
    }
    .hidden a{
        opacity:0.8;
        filter: alpha(Opacity=80);
        width:140px;
        height:35px;
        background-color:#fff;
        color:#272727;
        font-size:12px;
        vertical-align: middle;
        padding: 11px 24px;
    }



.h-carousel-wrapper {
    width: 300px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.h-carousel-items {
  }

.b-carousel-button-left, .b-carousel-button-right {
    display:none;
    width: 16px;
    height: 26px;
    top: 60px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 47%;
    background: url(../img/prev.png) no-repeat;
}
.b-carousel-button-left {
    left: 20px;
}
.b-carousel-button-right {
    right: 20px;
    transform:rotate(180deg);
}


@media screen and (max-width:1080px){
    .img{
        max-width:460px;
        margin-right:20px;
        margin-left:0;
    }
    .hidden p{margin: 16% auto 8% auto;}
}
@media screen and (max-width:855px){
    .form{
        width: 210px;
    }
    .cell{
        display: flex;
        padding: 0;
    }
    .cell:nth-child(2n){
        margin: 13px 0 19px 0;
    }
    .old-price{display:none!important;}
    .new-price{font-size:42px;
        color:#272727;}

    .share p:first-child{display:none;}
    .share img{
        margin: 0 10px 0 0;
    }

    .txt{max-width:460px;}
    .txt p, .txt ul{
        font-size: 14px;
        padding-right: 67px;
    }
    .txt .more{display:block;}
    .txt ul{display:none;}
    .image-img{margin-bottom:55px;}
}
@media screen and (max-width:767px){
    #wrapper{padding:0 20px;}
    #wrapper h1{font-size:36px;}
    .img, .form, .txt, .image{
        float: none;
        margin:  0 auto 25px auto;
        max-width: 100%;
    }
    .form{
        width: 100%;

    }
    .cell{
        display: table-cell;
        padding-bottom: 30px;
        padding-right: 8px;
    }
    .addtocard input{
        max-width: 100%;
    }

    .txt{font-size:13px!important;}
    .txt h2, .txt h3{
        font-size:16px!important;
    }
    .txt .more{display:none;}
    .txt ul{display:block;}
    .txt p, .txt ul{
        padding-right: 0;
    }
    .image-img{margin-bottom:45px!important;}

    .hidden p{margin: 13% auto 7% auto;
        font-size: 16px;}
    .hidden a{
        padding:7px 14px; font-size:9px;
    }
}
@media screen and (max-width:508px){
    .hidden p{margin: 13% auto 7% auto;
        font-size: 12px;}
    .hidden a{
        padding:6px 9px; font-size:7px;
    }
}

@media screen and (max-width:468px){
    .b-carousel-button-left, .b-carousel-button-right{display:block;}
    .image{
        width: 300px;
        position: relative;
        overflow: hidden;
    }
    .h-carousel-items{
        width: 10000px;
        position: relative;
    }
    .addtocard p{font-size:14px;}
    .new-price{
        font-size: 36px!important;}
    .color{margin-right:7px;}


    .hidden p{
        font-size:24px;
        margin: 22% auto 10% auto;
    }
    .hidden a{
        font-size:12px;
        padding: 11px 24px;
    }


}