*{
margin:0; padding:0; 
}
.clr{
	clear:both;
}

img{
border:none;
}
ul, ol, li{
	list-style:none;
    list-style-position: outside;
	}
 
.disabled *{
	pointer-events:none !important;
	}	
body{
background:#fff;
//background: url(img/body.png) repeat;
font-family: Verdana, Geneva, sans-serif;
}
a:hover{
	text-decoration:none;
	}
.main{
background:#fff; min-width:980px; max-width:1200px; margin: 0 auto;
}
	.header{
	//overflow: hidden;
    //background: url(img/head-bg.png) repeat;
    color:#000;
    /*background-size: 500px;*/
    /*background: url(img/body.png) repeat;*/
    /*position:relative;*/
    padding-top: 60px;
	}
    .head-light{
        /*background:url(img/head-light.png) no-repeat;*/
        margin:0 0 50px 0;
    }
		.logo, .slogan{
		float:left;
		}
		.logo {
		margin:8px 0 0 30px;
		}
		.slogan{
		margin:4% 0 0 3px;
        height: 60%;
        margin-left:9%;
        vertical-align:middle;
		}
        .head{
            //background:url(img/menu-bg.png) top repeat-x;
            background-color: white;
            box-shadow:0 0 10px 5px rgba(221, 221, 221, 0.6);
            /*position:relative;*/
            width: 100%;
            height: 100px;	
        }
        .head-link{
            float:right;
            margin:-47px 15px -5px 0!important
        }
        .head-link img{
            width:30px;
            /*float:right;*/
        }
        .logo-head{
            float: left;
            width: 40%;
            height: inherit;
            margin-bottom: 15px;
        }
        .menu{
            margin-left: 40%;
            width: 60%;
            height: inherit;
            display:table-row; list-style:none;
        }
        .menu-item{
            box-sizing: border-box;
            border-left: 1px;
            /*width: 25%;
            float:left;*/
            height: inherit;
        }
        .menu-active a{
            color:#750000 !important;
        }
        .menu ul{
            height:inherit;
        }
   		.menu li{
   		   height:inherit;
			display:table-cell; 
           /* background:url(img/menu-bg-light.png) center top no-repeat; */
            width:auto; 
            text-align:center; 
            height: 60px;
            background: url(img/menu-border.png) right top no-repeat; 
          /*  border-left:1px solid #fff; 
            border-right:1px solid #fff; */
            vertical-align:middle;
            padding: 0 10px 0 10px;
			}
		.menu li:hover{
			//background:url(img/menu-bg-light.png) center top repeat-x;             
           /* border-left:1px solid #122b55; 
            border-right:1px solid #122b55;*/
			}
			.menu ul li:first-child{
				border-left:none;
				}
			.menu ul li:last-child{
			border-right:none;
			}
            .menu ul li:active{
                color:#750000 !important;                
            }
        .menu li a{
				display:block; 
                width:1000px; 
                height:100px; 
                vertical-align:middle; 
                display:table-cell; 
                font:14px Verdana, Geneva, sans-serif; 
                //color:#fff; 
                /* добавила */
                color:#000;
                text-transform: uppercase;
                text-decoration:none;
				}
        .menu li a:hover{
            color:#F7D206 !important;
        }
        .menu li a.active{
            color:yellow !important;
        }
		.head-contact{
		float:right; 
		/*background:#f8fafb url(img/phone.png) 227px 8px no-repeat; 
		border:2px solid #edf2f6; 
		border-radius: 0 0 10px 10px; */
		text-align:right; 
		margin:0 6px 0 0; 
		/*padding:5px 65px 5px 15px;*/
        padding:1% 6% 1% 1%;
		}
			.head-contact p{
			font-size:12px; 
			font-family:Verdana, Arial, sans-serif; 
			line-height:1.3; 
			margin:0 3px 3px 0;
            padding-left: 20px;
            display: inline-table;
			}
				.head-contact p strong{
				font-size:14px; 
				font-weight:normal;
				}
				.head-contact p span{
				font-size:21px; 
				font-weight:bold;
                color:maroon;
				}
		.search-head{
    		/*float:right;*/ 
    		list-style:none; 
    		/*background:url(img/bg-search.png) no-repeat left top;*/            
    		width:305px; height:39px; 
    		/*margin:50px 6px 5px 10px;*/
            margin: 30px 1% 0 0;
    		/*position: absolute;*/
            left:15px;
		}
		#quickquery{
            padding:8px 0 8px 8px;
			border: 1px solid #a8a8a8;
			margin: 3px 10px 6px 13px;
			width: 210px;
			font-size: 12px;
            border-radius:7px;
		}
		.search-head li{
		float:left;
        margin-top: -15px;
        margin-bottom: 5px;
		}
		.search-btn{
		margin: 4px 9px 0 0px;
        height:30px;
		}
  /*      СТИЛИ АДМИН     */
.tabl{
	background:#f7f7f7; width:100%; font:14px Tahoma; color:#555555; margin:0 0 20px 0;
		}
		.tabl th{
			padding:5px 0;
			}		
		.tabl td{
			background:#fff; text-align:center; padding:7px 10px;
			}
		.number{
			width:45px;
			}
		.str_name{
			width:;
			}
		.str_sort{
			width:100px;
			}
		.str_action{
			width:180px;
			}
		.name_page{
			text-align:left!important;
			}
  /*      СТИЛИ АДМИН     */
				
	#contentwrapper{
		float:left;
		width:100%;
		background:#fff;
		}
		#content{
			margin:0 220px 0 220px;			
			}
		#left-bar{
			float:left;
			width:212px;
			margin-left:-100%;			
			}
			.left-bar-cont{
				background: white;
                box-shadow:1px 2px 10px 2px rgba(221, 221, 221, 0.6);
				margin: 6px 0 0 6px;
				}
				.left-bar-cont h2{
					//color:#AA0000;
                    color:#000;
					font:bold 15px Verdana, Geneva, sans-serif;
					/*background-color: #f3ded7;*/
                    //background-color:#e8e8e8;
                    border-bottom: 1px solid #BBBBBB;
                    border-top: 1px solid #BBBBBB;
			/*		background: #f3ded7; /* Old browsers */
			/*		background: -moz-linear-gradient(left,  #f3ded7 0%, #becce3 100%); /* FF3.6+ */
			/*		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f3ded7), color-stop(100%,#becce3)); /* Chrome,Safari4+ */
			/*		background: -webkit-linear-gradient(left,  #f3ded7 0%,#becce3 100%); /* Chrome10+,Safari5.1+ */
			/*		background: -o-linear-gradient(left,  #f3ded7 0%,#becce3 100%); /* Opera 11.10+ */
			/*		background: -ms-linear-gradient(left,  #f3ded7 0%,#becce3 100%); /* IE10+ */
			/*		background: linear-gradient(to right,  #f3ded7 0%,#becce3 100%); /* W3C */
			/*		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3ded7', endColorstr='#becce3',GradientType=1 ); /* IE6-9 */

					
					border-radius:4px 4px 0 0;
                    //padding: 3px 0;
                    text-transform: uppercase;
					}
					.left-bar-cont h2 span{
						display:block; /* переводим строчный элемент span в блочный, чтоб сверху накрыть глянцем*/
						/*background:url(img/gloss.png) top repeat-x;*/
                        /*background: url(img/bg-category.png) top repeat-x;*/
                        background-size: 214px 30px;
						padding:8px 0 8px 10px;						
					}

					.nav-new, .nav-leader, .nav-sale{
						padding: 10px 0 10px 55px;
						}
							.nav-new a, .nav-leader a, .nav-sale a{
							color:#000;
							font: normal 14px Verdana, Geneva, sans-serif; 
							text-decoration:none;
							}
                            .nav-new a:hover, .nav-leader a:hover, .nav-sale a:hover{
                                font-weight: bold;
                            } 
					.nav-new{
						background: url(img/nav-new.png) left center no-repeat;
						background-position: 2%;
						//border-bottom: 1px solid #ADADAD;
                        border-bottom: 1px solid #e1e1e1;
                        background-size:41px;
						}
					.nav-leader{
						background-size:41px;
						background:url(img/nav-leader.png) left center no-repeat;
						//border-bottom: 1px solid #ADADAD;
                        border-bottom: 1px solid #e1e1e1;
						border-top: 1px solid #fff;
						background-position: 2%;
						}
					.nav-sale{
						background:url(img/nav-sale.png) left center no-repeat;
					/*	border-bottom: 1px solid #ADADAD;*/
						border-top: 1px solid #fff;
						background-position: 2%;
                        background-size:41px;
						}
						
		.left-bar-cont h4{
                    //color:#AA0000;
                    color:#000;
					/*background-color: #f3ded7;*/
                   // background-color: #e8e8e8;
                   border-bottom: 1px solid #dddddd;
                    border-top: 1px solid #dddddd;
					font:bold 15px Verdana, Geneva, sans-serif;
					
				/*	background: #15489c; /* Old browsers */
				/*	background: -moz-linear-gradient(left,  #15489c 0%, #becce3 100%); /* FF3.6+ */
				/*	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#15489c), color-stop(100%,#becce3)); /* Chrome,Safari4+ */
				/*	background: -webkit-linear-gradient(left,  #15489c 0%,#becce3 100%); /* Chrome10+,Safari5.1+ */
				/*	background: -o-linear-gradient(left,  #15489c 0%,#becce3 100%); /* Opera 11.10+ */
				/*	background: -ms-linear-gradient(left,  #15489c 0%,#becce3 100%); /* IE10+ */
				/*	background: linear-gradient(to right,  #15489c 0%,#becce3 100%); /* W3C */
				/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15489c', endColorstr='#becce3',GradientType=1 ); /* IE6-9 */
					
					padding:2px 0;
                    text-transform: uppercase;
                    
					}
					.left-bar-cont h4 span{
						display:block; /* переводим строчный элемент span в блочный, чтоб сверху накрыть глянцем*/
						/*background:url(img/gloss.png) top repeat-x;*/
                        /*background:url(img/bg-category.png) top repeat-x;*/
                        background-size: 214px inherit;
						padding:8px 0 8px 15px;	
                        text-transform:uppercase;					
					}
		.nav-catalog{
			padding: 10px 6px 20px 20px;
			list-style-type:disc;
		/*	border-bottom: 1px solid #A1a1a1;*/
			border-top: 1px solid #fff;	
			}
			.nav-catalog ul{
				padding: 5px 0px 5px 20px;
				list-style-type:disc;
				}
				.nav-catalog ul li{
					margin:0;
					}
                    .nav-catalog li:hover{
                        background-color: #F5D803;
                    }
			.nav-catalog li a{
					font: 14px Verdana, Geneva, sans-serif; 
					color:#595959;
					text-decoration:none;
				}
				.nav-catalog li a:hover{
					font: 14px Verdana, Geneva, sans-serif; 
					color:blue;
                    background-color: #F5D803;
					text-decoration:none;
					}
			a.nav-activ{
				color: #5296D5 !important; text-decoration: none;
                //font-weight:bold!important;
				}		
					
			.bar-contact{
				border-bottom: 1px solid #A1a1a1;
				border-top: 1px solid #fff;
				padding:15px 0 20px 15px;
				color:#000000;
				font-family:verdana, geneva, sans-serif;
				}
				
				.bar-contact h3{
					font-size:18px;
					font-weight:normal;
				}
					.bar-contact p{
						font-size:14px; margin:10px 0 0 0;
					}
					.bar-contact p span{
						font-size:18px; font-weight:bold;						
					}
				.news{
					border-bottom: 1px solid #A1a1a1;
					border-top: 1px solid #fff;
					padding:15px 0 20px 15px;
					color:#000000;
					font-family:verdana, geneva, sans-serif;
					}
						.news h3{
							font-size:15px;
                            text-transform:uppercase;	
							}
						.news p{
							margin:15px 0 15px 0;
						}
						.news p span{							
							font:normal 10px Verdana, Geneva, sans-serif;
							color:#000;
							Background:#D1D1D1;
							padding:4px 6px;
						}
						.news a{
							display:block;
							font-size:12px;
							color:#665;	
							margin:5px 0 0 0;
							}
							.news a:hover{
								text-decoration:none;
								}
								.news-archive{
									color:#555555;	
									border: 1px solid #fff;
									padding: 10px 15px;
									text-align: center; width: 97px;
									-webkit-border-radius: 10px;
									-moz-border-radius: 10px;
									border-radius: 10px;
									-webkit-box-shadow: #eee 0px 0px 7px;
									-moz-box-shadow: #eee 0px 0px 7px;
									box-shadow: #eee 0px 0px 7px;
									background: #d0d3db;
									background: -webkit-gradient(linear, 0 0, 0 bottom, from(#d0d3db), to(#8c97a5));
									background: -webkit-linear-gradient(#d0d3db, #8c97a5);
									background: -moz-linear-gradient(#d0d3db, #8c97a5);
									background: -ms-linear-gradient(#d0d3db, #8c97a5);
									background: -o-linear-gradient(#d0d3db, #8c97a5);
									background: linear-gradient(#d0d3db, #8c97a5);
									-pie-background: linear-gradient(#d0d3db, #8c97a5);
									
									margin:15px 0 0 0 !important;
											
									}
									
			.info{
				padding:15px 0 20px 15px;
				//border-bottom: 1px solid #A1a1a1;
                border-bottom: 1px solid #e1e1e1;
				border-top: 1px solid #fff;
				color:#665;
				font-family:verdana, Arial, sans-serif;	
			
				}
				.info:last-child{
					border-bottom:none;
					}
				
				.info h3{
					font-size: 14px;
					color:#444;
					}
					.info a{
							font-size:12px;
							color:#665;	
							margin:5px 0 0 0;
							}
						.info a:hover{
							text-decoration:none;
                            color:blue;
							}
				.info li{
					list-style:none;
					margin:3px 0 0 0;
					}
					.info li:before{
						content: '-';
						padding:0 3px 0 0;
						}
							
		.popular{
			overflow:hidden;
			}
			.popular h1{
				text-align:center;
				margin: 15px 40px 19px 51px;
                padding: 9px;
				/*color:#05004D;*/
                //color:#982f2f;
                color:#000;
                background-color:#f1f1f1;
				font-size:20px;
				}	
			.product{
				text-align:center;
				float:left;
				width:32%;
				margin-bottom:6px!important;
                border:1px solid #e1e1e1;
                margin:0 3px;
                padding:5px 0;
				}
				.content-img{
				    height: 100px;                    
				}
				.product h2{
					font:14px Verdana, Geneva, sans-serif;
					color:#6360AA;
					margin:10px 0 10px 10px;
					text-align:left;
                    height:34px;
					}
					.product h2 a{
					//color:#6360AA;
                    color:#000;
                    text-decoration:none;
					}
						.product h2 a:hover{
						text-decoration:underline;
                        color:yellow;
					}
					.product p{
						font:12px verdana, geneva, sans-serif;
						color:#535353;
						margin:0 0 0 5px;
						display:inline;
						}
						.product p span{
							font-size:20px;
							font-weight:bold;
							}
					/*  старый стиль кнопок в корзину на новинках, лидерах, скидках   */
                    /*.buy-index{
						float:right;
						margin:-6px 12px 1px 0;
						padding:0 17px 0 0;
						}	*/
							
		#right-bar{
			float:left;
			margin-left:-220px;
			width:220px;			
			}
			.right-bar-cont{
				margin:6px 6px 0 0;
                box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.6);			
				}
		
			.right-bar-cont h2{
                    //color:#AA0000;
                    color:#000;
					//background-color: #f3ded7;
                    background-color: white;
                    border-bottom: 1px solid #BBBBBB;
                    border-top: 1px solid #BBBBBB;
					font:bold 15px Verdana, Geneva, sans-serif;
                    text-transform: uppercase;
					
				/*	background: #15489c; /* Old browsers */
				/*	background: -moz-linear-gradient(left,  #15489c 0%, #becce3 100%); /* FF3.6+ */
				/*	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#15489c), color-stop(100%,#becce3)); /* Chrome,Safari4+ */
				/*	background: -webkit-linear-gradient(left,  #15489c 0%,#becce3 100%); /* Chrome10+,Safari5.1+ */
				/*	background: -o-linear-gradient(left,  #15489c 0%,#becce3 100%); /* Opera 11.10+ */
				/*	background: -ms-linear-gradient(left,  #15489c 0%,#becce3 100%); /* IE10+ */
				/*	background: linear-gradient(to right,  #15489c 0%,#becce3 100%); /* W3C */
				/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15489c', endColorstr='#becce3',GradientType=1 ); /* IE6-9 */

					
					border-radius:4px 4px 0 0;
					
					}
					.right-bar-cont h2 span{
						display:block; /* переводим строчный элемент span в блочный, чтоб сверху накрыть глянцем*/
						background:url(img/gloss.png) top repeat-x;
						padding:8px 0 8px 10px;						
					}
						.login, .shopcart, .specify-search{
							margin:0 0 10px 0;
							}
							.login div, .shopcart div{
								/*background:url(img/left-bg.png);*/
                                //background-color:#f3f3f3;
                                background-color: white;
								padding: 15px 10px 15px 15px;
								}
								.login div img, .shopcart div img{
									display:block;
									margin:0 auto;
                                    padding-top: 10%;
                                    margin-bottom: -5%;
									}
									.shopcart div p{
										margin:0 0 15px 0;
										font:normal 14px/1.4 Verdana, Geneva, sans-serif;
										}
									.shopcart div span{
										color:blue;
                                        //font-weight:bold;
										}
						
                        .authform input{
                            margin:7px 0 10px 0;
                            padding: 3px;
                            
                        }
                        .authform span{
                            font-weight:bold;
                            /*font-style:oblique;*/
                            font-size:16px;
                            //color:#4D4D4D;
                            color:#151777;
                        }
                        #auth{
                            margin:auto 0 10px 0;
                            /*background:url(img/login.png) no-repeat;*/
                        }
                        
                        /*  восстановление пароля */
                        #forgot{
                            display:none;
                        }
                        #forgot input{
                            padding:3px;
                            margin:5px 0 7px 0;                            
                        }                        
                        /*  восстановление пароля */
                        
                        p.link{
                            margin-bottom:6px;
                        }
                        p.link a{
                            font-size: 11px;
                            font-weight: bold;
                            color: #982f2f;
                            margin: 15px 0 0 23%!important;
                             }
                            
                        a.input_cabinet{
                            color:#AA0000 !important; 
                            font-weight: normal;
                            font-size:12px; 
                            margin:10px 0 0 10px; 
                            padding-left:10px; 
                            display:inline-table;
                            border-left: 1px solid #AA0000;                     
                        }
                        a.logout{
                            color:#AA0000 !important; 
                            font-weight: bold;
                            font-size:12px;
                            display:inline-table; 
                            text-decoration:none;  
                        }
                        a.input_cabinet:visited, a.logout:visited{
                            color:#AA0000 !important;
                        }      
                             
                             
                        
                        .specify-search div{
							font-size:12px;
							padding:10px 10px 24px 10px;
                            background-color:#f3f3f3;
							/*background:url(img/left-bg.png);*/
							}
							.specify-search div p{
								font-size:14px;
								margin:0 0 8px 0;
							}
							.specify-search div select{
								font:normal 14px Verdana, Geneva, sans-serif;
								width:190px;
								padding:3px;
								}
						.select-price{
							font:normal 12px Verdana, Geneva, sans-serif;
							width:55px;
							padding:3px;
							text-align:right;
							border:1px solid #8B8B8B;
							}
					.search{
						
						margin:20px auto 0 auto;
						display:block;
					}
	.footer{
		/*background:#00135A url(img/footer-bg.png) top repeat-x;*/
        //background: #9f3a3a url(img/footer-bg.png) top repeat-x;
        background:#f1f1f1;
		overflow:hidden;
		//color:rgba(255, 255, 255, 0.6);
        color:#333!important;

		}
		.flogo{
			float:left;
			padding:35px 0 0 20px;
			/*border-right: 1px solid #1e63d7;*/
            /*border-right: 1px solid brown;*/
			width:31%; /*для разделителей*/
			height:140px; /*для разделителей*/
            background: url(img/footer-border.png) right top no-repeat;
            background-size: contain;
			}
			.flogo p {
				margin:10px 0 0 0;
				font:bold 14px Verdana, Geneva, sans-serif;
				}
		.fphone{
			float:right;
			text-align:right;
			font:12px Verdana, geneva, sans-serif;
			/*border-right: 1px solid #1e63d7;
			border-left: 1px solid #09096e;*/
			/*border-right: 1px solid brown;
            border-left: 1px solid brown;*/
            padding:15px 20px 10px 0;
			width:31%;  /*для разделителей*/
            background: url(img/footer-border.png) left top no-repeat;
            background-size: contain;
			}
			.fphone h2{
				font-size:14px;
                //color:white;
				}
			.fphone h1{
				font-size:18px;
				margin-bottom:35px;
				}
		.fmenu{
			font-size:14px;
			overflow:hidden;
			margin:0 auto 0 auto;
			padding:15px 0 0 0;
			width:33%;
			/*border-right: 1px solid #1e63d7;
			border-left: 1px solid #09096e;
			border-right: 1px solid brown;
            border-left: 1px solid brown;*/
			height:160px; /*для разделителей*/
			}
			.fmenu p {
				text-align:center;
                color:#3B3B3B;
				}
			.fmenu ul{
				margin:27px 27px 27px 32%;
				padding:0 0 15px 0;
				float:left;
				list-style:none;
				}
				.fmenu ul li{
					margin:0 0 5px 0;
					}
				.fmenu ul a{
					//color:rgba(255, 255, 255, 0.6);
                    color:#3B3B3B;
					font-weight:bold;
					}
					.fmenu ul a:hover{
						text-decoration:none;
						color:blue;
						}	
					
					
		/*		Catalog line view		*/
		
	.crumb{
		margin:15px 0 30px 15px;
		font-size:14px;
		color:#556;
        
		}
		.crumb span{
			//color:#3831E1;
            color:#000;
			}
		.crumb a{
			color:#556;
			}
			.crumb a:hover{
				text-decoration:none;
				}
	
    /*     Фон для сортировки    */
    #fond{
        display:none;
        opacity: 0.8;
        position: absolute;
        width:inherit;
        height:100%;
        z-index:100;
        background-color:white;
    }
    #load{
        display:none;
        background-image: url("../../admin/templates/img/loading.gif");
        position:fixed;
        left:50%;
        top:50%;
        width:65px;
        height:65px;
        z-index:150;
    }
    			
	.view-sorting{
	   font-size:12px; 
       color:#878787;       
       margin:0 15px 20px 15px;
       //background:#fafbfb;
       background: #fff;
       border:1px solid #e1e1e1; 
       border-bottom:1px solid #dee7ec; 
       padding:10px 8px; 
       position: relative;
/*		background:#Fbfbfb;
		border-bottom:1px solid #dee7ec;
		font-size:14px;
		color:#878787;
		margin:0 15px 20px 15px;
		padding:8px;
	/*	overflow:hidden; */
/*		position: relative;
		line-height: 18px;*/
		}
		.view{
		  /*display:inline;
			/*float:right;*/
           position:absolute;
           left:600px;
           margin-top:-3px; 
			}
		.sorting{
		   display:inline;
		/*	float:left;*/
			font-size:12px;
           /* position: relative;*/
			}
			.sorting span{
			/*	font-size:14px;*/
            
				}

		.view-sorting img{
			margin:0 2px 0 2px;
			position:relative;
			top:4px;
			//width:17px;
            width:auto;
			}
		.view a, .sorting a{
			color:#878787;
			}
			.view a:active, .sorting a:active{
				color:#0646D9;
				}
        a.sort-top{
            //color:blue;
            cursor: pointer;
            font-weight:bold;
            color:#3345AE;
        }
        
        .sort-wrap{
            border: 1px solid #d1d1d1;
            padding: 5px;
            z-index: 45;
            position: absolute;
            left: 133px;
            top: 35px;
            background-color: #fff;
            visibility: hidden;
        }
        .sort-wrap a{
            margin-bottom:  5px;
            display: block;
        }		
                
        
        
		
		#tab-line-product{
			width:72%;
			/*empty-cells: show;
			font-size: 100%;
			height: 167px;
			margin-bottom: 14px;
			margin-top: -2px;*/
			}
			#tab-line-product td{
				width:70%;
				padding:5px;
				text-align:left;
				}
			
		.product-line{
			padding-bottom:30px;
			margin:0 15px 25px 15px;
			display:block;
			overflow:hidden;
			border-bottom:1px solid #f0f0f0;
		}
		
		.product-line-img img{
			width:200px;
			float:left;
		}
	
		.product-line-header a{
					margin:0 0 7px 0;
					color:#5296D5;
					font-weight:bold;
					font-size:16px;
					}
				
		.product-line-price{
			display:table-cell;
			float:right;
			border:2px solid #edf2f6;
			padding:10px; 
			width:200px;
			vertical-align:middle;
			}
            .product-line-price .addtocard-index{
                margin:0!important;
                padding:0!important;    
            }
            
			.product-line-price div{
				vertical-align:bottom;
				height:50%;
				margin:30px 3px 0 3px;
				border-top:1px solid #f0f0f0;
				}
			.product-line-price img{
				width:90px;
				float:right;
				}
				.product-line-price div img{
					width:21px;
					margin:10px 3px 0 3px;
					padding:10px 0 0 0;
					filter:alpha(Opacity=60); /* Полупрозрачность для IE */
					opacity:0.6;
					}

		/*	.product-line-price p{
				font-size:12px;
				margin:0 0 5px 0;
				}*/
				.currency{
					font-size:12px;
					margin:15px 0 0 0;
					vertical-align:middle;

					}
				.sum{
					font-size:16px;
					font-weight:bold;
					color:#393939;
					line-height:0;
					margin:15px 0 0 0;
					vertical-align:middle;

					}
				.product-line-price p a{
					color:#000;
					}
			.product-line-about{
				font-size:12px;
				}
				.more{
					font-size:11px;
					text-align:left;
					margin:0 0 -5px 0;
					}
					.more a{
						color:#626262;
						}
						.more a:hover{
							text-decoration:none;
							}
				
	/*		Постраничная навигация 	  */	
	
	
		.pager{
			padding:2px 20px;
			margin:0 25px;
			text-align:center;
			line-height:20px;
			font-size:14px;
			}
			
			.pager .i-dots, .pager .current, .pager .i-next, .pager .i-previous{
					background:none;
					}
				.pager .i-dots, .pager .current{
					color:#444;
					}
				.pager .i-previous, .pager .i-next{
					font-size:28px;
					margin-left:-8px;
					margin-right:-8px;
				    height:28px;                                       					
					}
                    
                    .pager .i-previous a:hover, .pager .i-next a:hover{
                    text-decoration:none!important;
                    }
                .pager .i-previous{
                     padding:0 15px 0 7px;
                }
                 .pager .i-next{
                     padding:0 7px 0 15px;
                }
					.pager .i-previous.disabled, .pager .i-next.disabled{
						opacity:0.5;
						filter:alpha(Opacity=50);
						pointer-events:none;
						}
			.pager a{
				margin:auto 1px auto 1px;
				font-weight:400;
				display:inline;
				background:#EFEFEF;
				padding:3px 9px;
				line-height:28px;
                
               /*было с а раньше*/ 
                vertical-align:middle;
				color:#568da7;
				text-decoration:none;
				}
		
				.pager a:hover{
					text-decoration:underline;
					}
					
					
	/*		Catalog table		*/
	
	.product-table{
		float:left;
		width:30%;
		text-align:left;
		margin-left:10px;
		padding: 7px 0 15px 8px;
		display:block;
		margin-bottom:10px;
        border: 1px solid #e1e1e1;
		}

		.product-table h2{
			margin:0 0 10px 0;
            height:32px;
			}
		.product-table h2 a{
			color:#5296D5;
			font-weight:bold;
			font-size:12px;
			}
		.product-table-img img{
			max-width:190px;
			padding-bottom:15px;
			}
			.more-table{
					font-size:11px;
					text-align:left;
					color:#626262;
					line-height:15px;
				}
		/*	.product-table-price div{
				vertical-align:bottom;
				margin:15px 15px 0 6px;
				border-top:1px solid #f0f0f0;}*/
				
			.addtocard-index{
				width:90px;
				float:right;
				/*margin-right:10px; */               					
				margin:-6px 10px 1px 0;
				padding:0 17px 0 0;
				}
                .product .addtocard-index{
                    width: auto !important;
                }
            a.button-buy{
                background: url(img/buy-index.png) no-repeat;
            }
            a.button-buy:hover{
                background: url(img/buy-index2.png) no-repeat;                
            }
			.product-table-img-main{
				position:relative;
				}
				.product-table-img{
					display:table-cell;
					height:150px;
					position:relative;
					vertical-align:middle;
					width:1%;   /**/
                    text-align:center;
					}
                .baseimg{
                    max-height: 134px;
                }	
					.product-table-img div{
						position:absolute;
						top:0;
						right:0;
						padding-right:15px;
						}
						.product-table-img div img{
							width:28px;
							display:block;
							margin:0;
							filter:alpha(Opacity=80); /* Полупрозрачность для IE */
							opacity:0.7;
							padding-bottom:5px;
							}
		.product-table-price{
			margin-top:8px;
			}
			
			
			
			
			/*			CONTENT TXT			*/
			
	.content-txt{
		overflow:hidden;
		font-size:12px;
		color:#333;
		margin:0 25px;
		text-align:justify;
		}
		.content-txt p, .content-txt h4{
			text-indent:5%;
			}
		.foreword{
			font-size:11px;
			font-style:italic;
			font-weight:normal;
			margin:15px 0 30px 0;
			text-indent: 0!important;

			}
			.foreword a{
				text-decoration:none;
				color:#6576AC;
				}
				.foreword a:hover{
					color:#3A5DCF;
					}
		.content-txt img{
			display:block;
			width:300px;
			margin:15px auto;
			}
			.img-caption{
				font-size:80%;
				font-style:oblique;
				font-weight:bold;
				text-align:center;
				letter-spacing: -.015em;
				margin:0 0 20px 0;
				color:#5A5A5A;
				}
		.content-txt h1, .content-txt h2, .content-txt h3{
			margin-top:10px;
			margin-bottom:15px;
			letter-spacing: -.015em;
			}
			.content-txt h1{
				margin-top:0;
				font-size:22px;
				font-weight:normal;
				}
			.content-txt h2{
				font-size:20px;
				font-weight:normal;
				}
			.content-txt h3{
				font-size:16px;
				font-weight:bold;
				}
			.content-txt h4{
				font-size:14px;
				font-weight:bold;
				margin-bottom:5px;
				margin-top:20px;
				}
			.content-txt h5{
				font-size:20px;
				font-weight:normal;
				margin-bottom:15px;
				letter-spacing: -.015em;
				}
			#read-also{
				margin:40px 0 20px 0;
				border-top:1px solid #C2C1C5;
				text-align:left;
				}
				#read-also h2{
					margin-top:30px;
					}
				#read-also p{
					text-indent:0;
					}
				#read-also li{
					padding:5px 0 10px 0;
					}
				#read-also .title{
					margin-bottom:6px;
					}
				#read-also a{
					color:#1367B4;
					}
					#read-also a:hover{
						text-decoration:none;	
						}
			.other-posts ul{
				width:70%;
				}
		.social-share p{
			margin:20px 0 5px 0;
			}

			/*			Catalog detail				*/
		
	.catalog-detail{
		overflow:hidden;
		font-size:12px;
		margin:0 15px;
		color:#333;
		}
		.catalog-detail h1{		
				margin-bottom:15px;
				letter-spacing: -.015em;
				margin-top:0;
				font-size:22px;
				font-weight:normal;
				}



		/*		DETAIL PRODUCT			*/
		
	.brief-descript-product{
		margin:0 0 40px 400px;
		display:block;
		overflow:hidden;
		color:#333;
		}
	.icon-detail{
		width:100px;
		}
		.icon-detail img{
			float:right;
			width:20px;
			padding:5px;
			opacity:0.7;
			filter:alpha(Opacity=70); /* Полупрозрачность для IE */
			}
   .product-detail{
        width: 300px;        
        float:left;
        margin-bottom:20px;
   }
	.product-detail-price{
		border:2px solid #edf2f6;
		width:220px;
		text-align:center;
		padding:10px 0 15px 0;
		}
	.product-detail-price .addtocard-index{
		width:80px;
		padding-left:10px
		}
	.product-detail-price .sum, .product-detail-price .currency{
		//vertical-align:text-top;
		margin:0;
		}
		.product-detail-price .price{
			color:#181CDD; 
			font-size:10px; 
			font-weight:bold; 
			text-align:left;
			padding:0 0 10px 15px !important;
			}
		.product-detail-about{
			margin:15px 0 10px 10px;
			font-size:12px;
			line-height:1.5;
			}
	.full-descript-product{
		margin:0 15px 0 15px;
		font-size:14px;
		text-align:justify;
		}
		.full-descript-product p{
			text-indent:3%;
			}
		.full-descript-product h3{
			font-size:20px;
			font-weight:normal;
			margin-bottom:15px;
			}
	.tech-character{
		margin:30px 0 0 0;
		}
		.tech-character ul{
			margin:10px 0 20px 0;
			line-height:1.3;
			}
			.tech-character ul li{
				margin:5px;
				font-size:12px;
				line-height:1.5;
				}
				.tech-character ul li:first-child{
				margin-top:15px;
				}
				
	/*			ORDER		*/
	
#content-order{
		width:98%;
		margin:0 auto;
		color:#333;
        padding:0 6px;
		}
	#content-order h2{
		text-align:left;
		font-size:18px;
		font-weight:bold;
		margin:15px 10px 20px 0;
		//color:#982f2f;
        color:#000;
        //border:1px solid #e1e1e1;
        padding:9px;
        background-color: #f1f1f1;
		}
.card_null {
    margin:5px 0 50px 15px;
}
.error{
    background: #FECDCD!important;
    color:red!important;
    border:1px solid maroon!important;
    padding:15px;
    margin:0 10px 10px 10px;
}
.success{
    background: #AAFFBF !important;
    color: #189222;
    border:1px solid #189222;
    padding:15px;
    margin:0 35px 35px 35px;
}
    #content-order ul{
        margin: 0 0 0 0;
    }
    #content-order li{
        margin: 2px 2px 2px 20px;
    }
		.order-main-table{
			width:100%;
			margin:0 0 30px 0;
			}
			.order-main-table td{
				padding:10px;
				}
            
            /* добавила для редактирования своего профиля звездочки */
            .order-main-table b {
                color:red;
            }
            .order-main-table th{
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom:1px solid silver;
            }
            
.load {
	background:url(img/loading17.gif) center no-repeat;width:66px;height:66px;position:absolute;display:block;left:50%;top:50%;z-index:10;display: none;
}
.res {
	position:absolute;display:block;left:47%;top:52%;z-index:10; padding:5px; background: none repeat scroll 0 0 #F0FAF1 !important;border: 1px solid #ADC092;color: #58715E !important;display: none;
}    

        .z-top{
			background:#EDEDED;
			border-bottom:1px solid #ABABAB;
			color:#555;
			font-size:12px;
			font-weight:bold;
			}
		.z-bot{
			background:#EDEDED;
			border-bottom:1px solid #ABABAB;
			color:#555;
			font-size:12px;
			font-weight:bold;
			}
		.z-name{
			}
			.z-name img{
				float:left;
				margin:0 10px 0 0;
				height:60px;
				}
			.z-name a{
				font-size:12px;
				color:#5B51A2;
				}
				.z-name a:hover{
					text-decoration:none;
					}
			.z-kolvo, .z-price, .z-del{
				text-align:center;
				}
			.z-kolvo{
				width:75px;
				}
			.z-price{
				font-size:11px;
				width:80px;
				}
				.z-price span{
					font-size:16px;
					font-weight:bold;
					}
			.z-del{
				width:65px;
				}
				.z-del img{
					width:30px;
					}
			.kolvo{
				width:48px;
				height:22px;
				font-size:16px;
				background:#fafbfb;
				text-align:center;
				}
        .c-title{
            border-right: grey 1px solid;  
            color: #555;          
        }
        .c-tr{
            border: 4px double black;
        }
	.ship-method{
		margin:0 10% 2% 0;
        display: inline-table;
		}
		.ship-method p{
			font-size:12px;
			margin:7px 0 0 2px;
			}
            .ship-method span {
    			font-size:12px;
    			color:#B9B9B9;
    			font-style:oblique;
    			vertical-align:middle;
            }
       .ship-method input{
            margin: 0 10px 0 0!important;
			vertical-align:middle;
       }
		#content-order h4{
			text-align:left;
			font-size:14px;
			margin:20px 0 10px 0;
			font-weight:bold;
			}
		#content-order h3{
			font-size:18px;
			margin:20px 0 10px 0;
			font-weight:normal;		
			}
	.order-data{
		//width:100%;
		//background:#F0F0F0;
        background: white;
        border:1px solid #e1e1e1;
		margin:10px 10px 25px 10px;
		}
        .order-data b{
            color:red;
        }
		.order-data td{
			vertical-align:middle;
			padding:10px 10px 0 10px;
			}
		.z-txt{
			font-size:12px;
			color:#777;
            font-weight:bold;
			}
		.z-example{
			font-size:12px;
			color:#B9B9B9;
			font-style:oblique;
			vertical-align:middle;
			}
			.z-input input{
				width:89%;
				height:28px;
				border:1px solid #ccc;
                padding-left: 7px;
                color: #7C7C7C;
				}
		.z-txtarea{
			padding:10px 10px 20px 10px!important;
            //width: 89%;
            
			}
			.z-txtarea textarea{
				width:300px!important;
				height:100px;
				border:1px solid #ccc;
				padding: 5px;
                }
				
				
				
				
	/*			АККОРДИОН			*/
	
/*	.nav-catalog label{
	position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
	}
	
.nav-catalog label:hover:after,
.nav-catalog input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(http://netcribe.com/example/arrow_down.png) no-repeat center center;  
}

.nav-catalog input:checked + label:hover:after {
    background-image: url(http://netcribe.com/example/arrow_up.png);
}

.nav-catalog input{
    display: none;
}


   .nav-catalog article{
	    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
   }
   
   .nav-catalog input:checked ~ article{
     -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
    height 100px;
}
*/

/* Галерея продукта */
.item_gallery{
  /* padding: 10px 0 20px;
   margin-bottom: 25px;*/
    width:370px; 
    margin:0 0 25px 0; 
    overflow:hidden; 
    float:left;
}
.item_img{
   position: relative;
   text-align: center;
   height: 200px;
   background: url(../img/ajax-loader.gif) no-repeat center 49%;
}

.item_img img{
   /*max-width: 650px;*/
   width:300px;
}
.item_thumbs{
   margin-top: 50px;
}
.item_thumbs a{
   margin: 0 10px 10px 0;
}
.item_thumbs img{
   width: 45px;
   padding: 4px;
   border: 2px solid #B2B2B2;
}
.item_thumbs a:hover img,
.item_thumbs a.active img{
   border: 2px solid #666;
}
/* Галерея продукта */



#user_cab{
   /* display:block;*/
   display: table;
   
}
#user_cab{
    border:1px solid #e1e1e1;
}
.c-tr{
     border:1px solid #e1e1e1;
}
.order-main-table{
   //border:1px solid #e1e1e1; 
}
#user_edit{
    /*display: none;*/
}
#toggle1{
    text-decoration:none !important;
    color:blue;
    font-size: 11px;
    font-style: italic;
}
#toggle1 div{
    display: inline;
}



/*       Валидация - картинки        */

.reg-check, .reg-cross, .reg-loader{
    display:inline-block;
    width:16px;
    height: 16px;
}
.reg-check{background:url(img/check.png);
            background-size: 16px 16px;}
.reg-cross{background:url(img/cross.png);
            background-size: 16px 16px;}
.reg-loader{background:url(img/ajax-loader.gif);
            background-size: 16px 16px;}

/*     Информационное сообщение под input регистрации    */
.info_access{
    font-size:11px;
    margin:8px;
    font-weight:bold;
    font-style:oblique;
    color:#C40005;
    padding-top: 5px;
    /* margin-top: -10px !important; */
    display: table-cell;
}

#qty{
    visibility: hidden;
}

			/*		Galery		

#slideshow {
	list-style:none; 
	color:#fff
	}
#slideshow span {
	display:none; 
	}
#wrapper {width:370px; margin:0; display:none; overflow:hidden; float:left;}
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:370px; height:300px; padding:2px; border:2px solid #fff;}
#information {position:absolute; bottom:0; width:200px; height:0; background:#000; color:#fff; overflow:hidden; z-index:200; opacity:.7; filter:alpha(opacity=70);}
#information h3 {padding:0; font-size:0;}
#information p {padding:0}
#image {width:200px}
#image img {position:absolute; z-index:25; width:340px;top:29px;
}
.imgnav {position:absolute; width:25%; height:206px; cursor:pointer; z-index:150}
#imgprev {left:0; background:url(img/left.gif) left center no-repeat}
#imgnext {right:0; background:url(img/right.gif) right center no-repeat}
#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(img/link.gif) center center no-repeat}
#thumbnails {margin-top:15px}
#slideleft {float:left; width:20px; height:50px; background:url(img/scroll-left.gif) center center no-repeat;}
#slideleft:hover {background:url(img/scroll-lefth.gif) center center no-repeat;}
#slideright {float:right; width:20px; height:50px; background:url(img/scroll-right.gif) center center no-repeat;}
#slideright:hover  {background:url(img/scroll-righth.gif) center center no-repeat;}
#slidearea {float:left; position:relative; width:320px; margin-left:5px; height:81px; overflow:hidden}
#slider {position:absolute; left:0; height:81px}
#slider img {cursor:pointer; border:1px solid #666; padding:2px; width:60px;}+++

*/